@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
html { background: url("../img/skyline.jpg") no-repeat center center fixed; background-size: cover; background-color: #222; }

body { min-height: 100%; color: white; font-family: 'Slabo 27px', serif; margin: auto; overflow-y: scroll; }

hr { clear: both; width: 100%; }

header { text-align: center; font-size: 2.5em; max-width: 460px; margin: auto auto; }
header h1 { font-family: 'Slabo 27px', serif; display: inline-block; border-top: 1px solid white; border-bottom: 1px solid white; padding: 30px 0; }
header p { font-family: 'Slabo 27px', serif; font-size: 0.6em; display: inline-block; margin: 40px 0; line-height: 30px; }
@media screen and (max-width: 430px) { header p { margin: 10px 0 0 0; } }

#main { line-height: 1.5em; margin: auto auto; #padding: 0em 1em; max-width: 100%; }

#content { background: #fff; color: #444444; #max-width: 960px; margin: auto; padding: 20px; }
#content p { margin: 0 auto 1em auto; text-align: center; font-size: 1.2em; line-height: 1.3em; }

#content .content-left, #content .content-right { float: left; max-width: 45%; margin: 20px; display: inline-block; }
#content .content-left img, #content .content-right img { max-width: 96%; padding: 2%; border: 1px solid #444444; }
#content .content-left p, #content .content-right p { text-align: left; }

.content-right:after { clear: both; }

#gallery { margin: 0 auto; list-style: none; font-size: 1.0em; width: 100%; }
#gallery li { text-align: center; font-size: 1em; float: left; border: 1px solid white; max-width: 47.5%; margin-bottom: 20px; position: relative; overflow: hidden; }
#gallery li:nth-child(2n) { float: right; }
#gallery li a { display: inline-block; position: relative; width: 100%; font-size: 1.3em; font-family: 'Slabo 27px', serif; }
#gallery li a span { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; position: absolute; left: 0; right: 0; top: 30%; margin: auto; font-size: 0.8em; }
#gallery li a:hover { background: none; }
#gallery li a:hover img { opacity: 1; }
#gallery li a:hover span { opacity: 0; }
#gallery li a .img-wrap { overflow: hidden; max-height: 130px; width: 100%; padding: 0.4em; }
#gallery li .close { display: none; }
#gallery img { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; opacity: 0; background: #444444; }
#gallery li.active { max-width: 100%; width: 100%; min-height: 100%; position: fixed; top: 0; left: 0; background: rgba(49, 44, 44, 0.8); z-index: 1; }
#gallery li.active a img { opacity: 1; max-width: 100%; }
#gallery li.active .img-wrap { max-height: none; }
#gallery li.active .close { display: block; }

#main a:link, #main a:visited { color: #444444; }

#main a:hover, #main a:active { color: #444444; background: white; text-decoration: none; }

#main p.contact { text-align: center; margin: auto; }

@media only screen and (max-width: 330px) { h1 { font-size: 2.4em; }
  #main { font-size: 0.9em; } }
