@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
html { background: url("../img/skyline.jpg") no-repeat center center fixed; background-size: cover; background-color: #222; }

body { min-height: 100%; color: white; font-family: 'Slabo 27px', serif; margin: auto; overflow-y: scroll; }

hr { clear: both; width: 100%; opacity: 0.6; #margin: 40px 0; }
@media screen and (max-width: 960px) { hr { margin: 60px 0; } }

h2 { font-size: 2em; margin: 20px 0; padding: 20px 0; text-align: center; border-top: 1px solid #444444; border-bottom: 1px solid #444444; width: auto; clear: both; }

h3 { font-size: 1.5em; margin: 0 0 20px 0; line-height: 1.4em; }

header { text-align: center; font-size: 2.2em; max-width: 500px; margin: auto auto; min-height: 400px; }
header #title { margin-top: 200px; line-height: 1.4em; }
header #title br { display: none; }
@media screen and (max-width: 480px) { header #title br { display: block; } }
header h1 { font-family: 'Slabo 27px', serif; display: inline-block; border-top: 1px solid white; border-bottom: 1px solid white; padding: 20px 0; }
header p { font-family: 'Slabo 27px', serif; font-size: 0.6em; display: inline-block; text-align: justify; margin: 40px 0 0 0; line-height: 30px; }
@media screen and (max-width: 430px) { header p { margin: 40px 0 0 0; padding: 0px 20px; } }
@media screen and (max-width: 430px) and (max-width: 480px) { header p br { display: none; } }

#main a#down-arrow { position: absolute; left: 0; right: 0; top: -60px; font-weight: bold; font-size: 1.8em; border: none; text-decoration: none; text-align: center; color: #fff; }
#main a#down-arrow:hover { opacity: 0.5; background: none; color: #fff; }
@media screen and (max-height: 550px) { #main a#down-arrow { display: none; } }

#main { line-height: 1.5em; margin: auto auto; #padding: 0em 1em; max-width: 100%; background: #fff; }

#content { position: relative; overflow: visible; color: #444444; max-width: 960px; margin: auto; padding: 20px; }
#content p { margin: 0 auto 1em auto; text-align: center; font-size: 1.2em; line-height: 1.3em; }

#content .content-left, #content .content-right { float: left; max-width: 430px; display: inline-block; }
#content .content-left img, #content .content-right img { max-width: 96%; cursor: zoom-in; }
#content .content-left p, #content .content-right p { text-align: left; line-height: 1.5em; }
#content .content-left a:hover, #content .content-left a:active, #content .content-right a:hover, #content .content-right a:active { background: #444444; color: white; }
@media screen and (max-width: 960px) { #content .content-left, #content .content-right { float: none; display: block; margin: auto; max-width: 90%; }
  #content .content-left img, #content .content-right img { display: inherit; margin: 40px auto; } }

.content-left { margin: 40px 20px 40px 0; }

.content-right { margin: 40px 0 40px 20px; }

.content-right:after { clear: both; }

#main a:link, #main a:visited { color: #444444; }

#main a:hover, #main a:active { color: #444444; background: white; text-decoration: none; }

a { padding: 2px 4px; color: white; }
a:hover { background: white; color: #444444; }

#contact { text-align: center; margin: auto; height: 150px; padding-top: 100px; }
#contact h2 { width: auto; display: inline; border-color: white; padding: 10px 0; }
#contact p { font-size: 1.6em; line-height: 1.5em; #font-weight: bold; }
#contact sub { font-size: 0.8em; }

@media only screen and (max-width: 330px) { #main { font-size: 0.9em; } }
