@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

$bg_color: #00B3FF;
$content_color: #FFF;
$dark: #17497a;

$sp: 20px;

html{
  background: url('../img/skyline.jpg') no-repeat center center fixed; 
  background-size: cover;
}

body{
    min-height: 100%;
    color: $content_color;
    font-family: 'Slabo 27px', serif;
    margin: auto;
    overflow-y: scroll;
}

header{
  text-align: center;
  border-top: 1px solid $content_color;
  border-bottom: 1px solid $content_color;
  font-size: 2em;
  margin:$sp 0 $sp*2 0 ;
  padding: $sp 0;
  h1{
      font-family: 'Slabo 27px', serif;
      display: inline-block;
  }
  p{
        font-family: 'Slabo 27px', serif;
        display: inline-block; 
        
      }
}

#main{
    line-height: 1.5em;
    margin: auto auto;
    padding: 3.0em 1em;
    max-width: 460px;
}

#content p{
    margin: 0 auto 1em auto;  
    text-align: center;   
    font-size: 1.3em;
}

#main ul{
    margin: 0 auto; 
    max-width: 290px;
    list-style: none;
    font-size: 1.0em;
}

#main ul li{
    text-align:center;   
    margin: 0 0 1em 0;
    font-size: 1em;
}

#main ul li a{
    display:inline-block;
    font-size: 1.3em;
}

#main a{
    padding: 0.3em 0.4em 0.1em 0.4em;
    font-family: 'Slabo 27px', serif;
}

#main a:link, #main a:visited{
    color: $content_color;
}

#main a:hover, #main a:active{
    color: $dark;
    background: $content_color;
    text-decoration: none;
}

#main p.contact{
    text-align:center;
    margin:auto;
}

#content{
    padding: 0 0 3.0em 0;
}

@media only screen and (max-width: 330px) {
    h1{
        font-size:2.4em;
    }
    #main{
        font-size: 0.9em;
    }
}


