@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

$bg_color: #00B3FF;
$content_color: #FFF;
$dark: #444;

$break-small: 430px;

$sp: 20px;

html{
  background: url('../img/skyline.jpg') no-repeat center center fixed; 
  background-size: cover;
  background-color: #222;
}

body{
    min-height: 100%;
    color: $content_color;
    font-family: 'Slabo 27px', serif;
    margin: auto;
    overflow-y: scroll;
}

hr{
    clear:both;
    width:100%;
    opacity: 0.6;
    #margin: $sp*2 0;
    @media screen and (max-width: 960px) {
      margin: $sp*3 0;  }
}

h2{
    font-size: 2em;
    margin: $sp 0;
    padding: $sp 0;
    text-align: center;
    border-top: 1px solid $dark;
      border-bottom: 1px solid $dark;
    width:auto;
    clear:both;
    
}

h3{
    font-size: 1.5em;
    margin: 0 0 $sp 0;
    line-height:1.4em;
}

header{
  text-align: center;  
  font-size: 2.2em;
    max-width: 500px;
    margin: auto auto;
    min-height: 400px;
  #title{
    margin-top: 200px;
      line-height: 1.4em;
      br{
      display:none;
      @media screen and (max-width: 480px) {
            display:block;
      }
  }

  }
  h1{
      font-family: 'Slabo 27px', serif;
      display: inline-block;
      border-top: 1px solid $content_color;
      border-bottom: 1px solid $content_color;
      padding: $sp*1 0;
  }
  p{
        font-family: 'Slabo 27px', serif;
        font-size: 0.6em;
        display: inline-block; 
        margin: $sp*2 0 0 0;
      line-height: $sp*1.5;
      
        
        @media screen and (max-width: $break-small) {
            margin: $sp*2 0 0 0;
            padding: 0px $sp;
           br{
        @media screen and (max-width: 480px) {
            display:none;
      }}
      }
    }
}

#main a#down-arrow{
    position:absolute;
    left:0;
    right:0;
    top : -60px;
    font-weight: bold;
    font-size:1.8em;
    border:none;
    text-decoration:none;
    text-align:center;
    color:#fff;
    &:hover{
        opacity: 0.5;
        background: none;
        color:#fff;
    }
     @media screen and (max-height: 550px){
        display:none;
     }
}

#main{
    line-height: 1.5em;
    margin: auto auto;
    #padding: 0em 1em;
    max-width: 100%;
    background: #fff;
}

#content{
    position:relative;
    overflow: visible;
    color: $dark;
    max-width: 960px;
    margin:auto;
    padding: $sp;
    p{
    margin: 0 auto 1em auto;  
    text-align: center;   
    font-size: 1.2em;
    line-height: 1.3em;
    }  
}

#content .content-left, #content .content-right{
    float: left;
    max-width: 430px;
    display: inline-block;
    img{
        max-width: 96%;
        cursor: zoom-in;
        
    }
    p{
        text-align: left;
    }
    a{
        
        &:hover, &:active{
            background: $dark;
            color: white;
        }
    }
    @media screen and (max-width: 960px) {
            float:none;
            display: block;
            margin:auto;
            max-width: 90%;
            img{
                
                display:inherit;
                margin: $sp*2 auto;
            }
      }
}

.content-left{
    margin: $sp*2 $sp $sp*2 0;
}

.content-right{
    margin: $sp*2 0 $sp*2 $sp;
}

.content-right:after{
    clear:both;
}


#main a:link, #main a:visited{
    color: $dark;
}

#main a:hover, #main a:active{
    color: $dark;
    background: $content_color;
    text-decoration: none;
}

a{
    padding: 2px 4px;
    color: $content_color;
    &:hover{
        background: $content_color;
        color: $dark;
    }
}

#contact{
    text-align:center;
    margin:auto;
    height: 150px;
    padding-top: 100px;
    h2{width:auto;
        display:inline;
        border-color: $content_color;
        padding: $sp/2 0;
    }
    p{
        font-size: 1.6em;
        line-height: 1.5em;
        #font-weight: bold;
     }
    sub{
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 330px) {
    #main{
        font-size: 0.9em;
    }
}


